<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/office.svg" class="img-fluid" alt="." width="30" height="30"
      class="d-inline-block align-top"> Baby Company
    </a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myLinks"
    aria-controls="myLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myLinks">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="admin/companies/new" class="nav-link">Adicionar Empresa</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">Sair</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <br><br>
  </div>
</main>
<footer class="container-fluid py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Company App</h5>
      <ul class="list-unstyled text-small">
        <li>
          <p class="text-muted">This program to do business administration, was developed with the intuition to improve
            my skills and knowledge with Angular 4.</p>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Social Media</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Facebook</a></li>
        <li><a class="text-muted" href="#">Twitter</a></li>
        <li><a class="text-muted" href="#">Instagram</a></li>
        <li><a class="text-muted" href="#">Linkedin</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Connect</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Jobs</a></li>
        <li><a class="text-muted" href="#">Help and Support</a></li>
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Location</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      ​<picture>
        <source srcset="" type="image/svg+xml">
        <img src="assets/img/office.svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"
          focusable="false">
      </picture>
      <small class="d-block mb-3 text-muted">&copy; 2020</small>
    </div>
  </div>
</footer>