<div class="col-10 offset-1">
  <div class="card" *ngIf="form">
    <div class="card-body">
      <h5 class="card-title">{{ editMode ? 'Edit' : 'Nova' }} Empresa</h5>
      <form [formGroup]="form">
        <div class="form-group">
          <div class="form-row">
            <div class="col-12 col-md-6">
              <label for="registeredName">Razão Social</label>
              <input class="form-control" type="text" id="registeredName" formControlName="registeredName">
              <small *ngIf="form.get('registeredName').invalid && form.get('registeredName').touched">Invalid
                Field</small>
            </div>
            <div class="col-12 col-md-6">
              <label for="tradingName">Nome Fantasia</label>
              <input class="form-control" type="text" id="tradingName" formControlName="tradingName">
              <small *ngIf="form.get('tradingName').invalid && form.get('tradingName').touched"> Invalid Field</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="taxPayerRegistration">CNPJ</label>
              <input class="form-control" type="text" id="taxPayerRegistration" formControlName="taxPayerRegistration">
              <small *ngIf="form.get('taxPayerRegistration').invalid && form.get('taxPayerRegistration').touched">Invalid
                Field</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="stateSubscription">Inscrição Estadual</label>
              <input class="form-control" type="text" id="stateSubscription" formControlName="stateSubscription">
              <small *ngIf="form.get('stateSubscription').invalid && form.get('stateSubscription').touched"> Invalid
                Field</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-flex-end mr-3 mb-3">
      <div class="p-1">
        <button class="btn btn-danger" routerLink="/admin/companies">Cancelar</button>
      </div>
      <div class="p-1">
        <button class="btn btn-success" [disabled]="form.invalid" (click)="addCompany()">
          {{ editMode ? 'SaveChanges' : 'Add' }}</button>
      </div>
    </div>
  </div>
</div>